@font-face {
    font-family: 'Simpsons';
    src: url(./fonts/Simpsonfont.ttf);
}

html, body, #root {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Simpsons', sans-serif;
    background-image: url(./img/start.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 0;
}



#root {
    display: flex;
    position: relative; 
    align-items: center;
    justify-content: center;
    width: 80%;
    z-index: 10;
    padding: 20px;
}

button {
    box-shadow: 0px 0px 0px 4px rgb(5, 139, 5);
    border: 3px solid white;
    border-radius: 8px;
    background: rgb(5, 139, 5);
    color: white;
    font-family: 'Simpsons', sans-serif;
}

button:hover {
    cursor: pointer;
}

#start-btn {
    padding: 10px 52px;      
    font-size: 19px;
    position: fixed;
    z-index: 20;
    bottom: 15vh;
    left: 35vh;
}

.intro-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    z-index: -1; 
    opacity: 0; 
    transition: opacity 2s ease-in-out; 
}

.fade-in {
    opacity: 1; 
}

#skip-btn {
    position: fixed;
    z-index: 20;
    bottom: 80px;
    right: 20px;
    padding: 10px 52px;  
    font-size: 19px;
}

.game-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
    rotate: 2.2deg;
    position: relative;
    
}

.question {
    width: 70%;
    color: rgb(229, 217, 0);
    font-size: 38px;
    margin: 20px 0px;
    
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-decoration: underline;
    color:rgb(229, 217, 0)
}

.options:hover {
    cursor: pointer;
}

.option-btn {
    font-family: 'Simpsons', sans-serif;
    font-size: 30px;
    color: rgb(229, 217, 0);
    background: none;
    border: none;
    box-shadow: none;
    margin: 15px;
}

.feedback {
    color: rgb(229, 217, 0);
    font-size: 30px;
    margin-top: 100px;
}

#next-btn {
    bottom: 20px;
    right: 20px;
}

.score {
    align-self: end;
    color: rgb(229, 217, 0);
    height: 100px;
    padding: 10px;
    font-size: 25px;
    font-family: 'Simpsons', sans-serif;
    max-width: 90%; /* Ensure it doesn't overflow on smaller screens */
    box-sizing: border-box;
}

.timer {
    color: rgb(229, 217, 0);

    margin: 50px;
}

#timer-count {
    color: rgb(229, 217, 0);
}

#end-container{
    display: grid;
    height: 600px;
    width: 600px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr; 
    gap: 10px; 
    justify-items: center;
    align-items: center;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    }
    
    .end-message { 
        grid-area: 1 / 1 / 2 / 2;
        color:rgb(229, 217, 0);
        font-size: 50px;
    
    }
    .final-score { 
        grid-area: 2 / 1 / 3 / 2; 
        color:rgb(229, 217, 0);
        font-size: 50px;
    }

    .bart-message {
        color: rgb(229, 217, 0);
    }

    #restart-btn {
        grid-area: 3 / 1 / 4 / 2;
        padding: 10px 20px;
        font-size: 28px;
        cursor: pointer;
        background-color: rgb(5, 139, 5);
        color: white;
        border: 2px solid white;
        border-radius: 5px;
    }



    #fullscreen-btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px 20px;
        font-size: 16px;
       
        z-index: 100;
    }
    
    #fullscreen-btn:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    #exit-fullscreen-btn {
        position: fixed;
        bottom: 20px;
        left: 20px;
        padding: 10px 20px;
        font-size: 16px;
        z-index: 100;
    }
    
    #rotate-message {
        position: fixed;
        animation: fadeInOut 5s ease-in-out;
        top: 5%;
        left: 50%;
        transform: translate(-50%, 50%);
        padding: 10px 20px;
        font-size: 18px;
        color: white;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        z-index: 101;
        
    }
    
    @keyframes fadeInOut {
        0% { opacity: 0; }
        10% { opacity: 1; }
        90% { opacity: 1; }
        100% { opacity: 0; }
    }
    




